
.img1 {
    width: 200px;
    height: 100px;
}
.img2 {
    width: 500px;
    height: 200px;
    object-fit: contain;
}
.img3{
    width: 200px;
    height: 400px;
}

/* .p-cont .second .third .fourth p {
    color: red;
}  */
.fourth p{
    color: yellow;
}
h1 {
    color: red;
}
h2{
    color: brown;
}
h3{
    color: purple;
}
h4{
    color: blueviolet;
}
h5{
    color: aqua;
}
h6{
    color: blue;
}